@if (!noExists) {
    <div class="body-container">
    
        <!-- Main Content -->
        <div class="container">
            <div class="profile-section">
                <!-- Profile Header -->
                <div class="profile-header">
                  <!-- Cover Photo Section -->
                  <div class="cover-photo">
                      <img [src]="user.bannerImage.url" alt="Foto de portada">
                        <button *ngIf="editandoPerfil" class="edit-banner-btn">Canviar portada</button>
                  </div>
              
                  <!-- Profile Picture Section -->
                  <div class="profile-pic">
                      <img [src]="user.profileImage?.url" alt="Foto de perfil de {{ user.username }}">
                        <button *ngIf="editandoPerfil" class="edit-profile-pic-btn">
                          <i class="fas fa-edit"></i>
                        </button>
                  </div>
              
                  <!-- Profile Info Section -->
                  <div class="profile-info">
                      <div 
                          class="username" 
                          [attr.contenteditable]="editandoPerfil" 
                          (input)="limitarTexto($event, 55)"
                      >
                          {{ user.username }}
                      </div>
                      <div 
                          class="bio" 
                          [attr.contenteditable]="editandoPerfil" 
                          (input)="limitarTexto($event, 300)"
                      >
                          {{ user.bio }}
                      </div>
                      <app-user-stats></app-user-stats>
                      <app-user-actions 
                          [isOwn]="isOwnProfile" 
                          [userId]="userId" 
                          (editProfile)="handleEditProfile($event)"
                          (save)="handleSave($event)"
                      ></app-user-actions>
                  </div>
              </div>
                  
                <!-- Sidebar -->
                @if (isOwnProfile) {
                    <div class="sidebar">
                        <app-friends></app-friends>
                    </div>
                }
                <!-- Posts Section -->
                @if (!noPosts) {

                  <app-posts class="profile-posts" [isGrid]="true" [userArticles]="true" [userId]="userId" [saved]="false" (noPosts)="handleNoPosts($event)"></app-posts>
                } @else {
                    <div class="empty-state">
                      <div class="empty-icon">
                      <i class="fas fa-times-circle"></i>
                      </div>
                      <div class="empty-title">No hi ha publicacions creades</div>
                      <div class="empty-description">
                      Comença a crear les teves pròpies publicacions per compartir amb els altres.
                      </div>
                      <button class="empty-action" [routerLink]="['/home']">Crear ara</button>
                    </div>
                }
            </div>
        </div>
    </div>
} @else {
    <div class="body-container">
    
        <!-- Main Content -->
        <div class="container">
            <div class="profile-section">
                <!-- Profile Header -->
                <div class="profile-header">
                    <!-- Mensaje diciendo que no se ha podido encontrar el usuario -->
                    <div>
                        <h2>Usuari no trobat</h2>
                        <p>Ho sentim, no hem pogut trobar l'usuari que estàs buscant.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


    <div class="modal-overlay" *ngIf="mostrarConfirmacion">
        <div class="modal">
          <p>¿Seguro que quieres cancelar? Se perderán los cambios.</p>
          <button (click)="confirmarCancelar()">Sí, cancelar</button>
          <button (click)="mostrarConfirmacion = false">No</button>
        </div>
      </div>
      
