@if (!noExists) {
    <div class="body-container">
    
        <!-- Main Content -->
        <div class="container">
            <div class="profile-section">
                <!-- Profile Header -->
                <div class="profile-header">
                    <div class="cover-photo">
                        @if (!editandoPerfil) {
                            <img [src]="user.bannerImage.url" alt="Foto de portada">
                        } @else {
                            <button style="position: absolute;" class="edit-banner-btn" (click)="seleccionarNuevaImagen('banner')">Cambiar portada</button>
                        }
                        
                    </div>
                    <div class="profile-pic">
                        <img [src]="user.profileImage?.url" alt="Foto de perfil de {{ user.username }}">
                    </div>
                    <div class="profile-info">
                        <div class="username" [attr.contenteditable]="editandoPerfil" (input)="limitarTexto($event, 55)">{{ user.username }}</div><i *ngIf="editandoPerfil" class="edit-icon">✏️</i>
                        <div class="bio" [attr.contenteditable]="editandoPerfil" (input)="limitarTexto($event, 300)">{{ user.bio }}</div><i *ngIf="editandoPerfil" class="edit-icon">✏️</i>
                        <app-user-stats></app-user-stats>
                        <app-user-actions [isOwn]="isOwnProfile" [userId]="userId" (editProfile)="handleChildEvent($event)"></app-user-actions>
                    </div>
                </div>

                

                <!-- <div class="profile-header">
                    <div class="cover-photo">
                      <img [src]="user.bannerImage?.url" alt="Foto de portada">
                      <button *ngIf="editandoPerfil" class="edit-banner-btn" (click)="seleccionarNuevaImagen('banner')">Cambiar portada</button>
                    </div>
                  
                    <div class="profile-pic">
                      <img [src]="user.profileImage?.url" alt="Foto de perfil de {{ user.username }}">
                      <button *ngIf="editandoPerfil" class="edit-profile-btn" (click)="seleccionarNuevaImagen('profile')">Cambiar foto</button>
                    </div>
                  
                    <div class="profile-info">
                      <div
                        class="username editable"
                        [attr.contenteditable]="editandoPerfil"
                        (input)="user.username = $event.target.textContent"
                      >
                        {{ user.username }}
                        <i *ngIf="editandoPerfil" class="edit-icon">✏️</i>
                      </div>
                  
                      <div
                        class="bio editable"
                        [attr.contenteditable]="editandoPerfil"
                        (input)="user.bio = $event.target.textContent"
                      >
                        {{ user.bio }}
                        <i *ngIf="editandoPerfil" class="edit-icon">✏️</i>
                      </div>
                  
                      <app-user-stats></app-user-stats>
                  
                      <app-user-actions
                        [isOwn]="isOwnProfile"
                        [userId]="userId"
                        (editProfile)="handleChildEvent($event)">
                      </app-user-actions>
                  
                      <div *ngIf="editandoPerfil" class="edit-actions">
                        <button (click)="guardarCambios()">Guardar</button>
                        <button (click)="cancelarEdicion()">Cancelar</button>
                      </div>
                    </div>
                  </div> -->
                  
                  
                  
                <!-- Sidebar -->
                @if (isOwnProfile) {
                    <div class="sidebar">
                        <app-friends></app-friends>
                    </div>
                }
                <!-- Posts Section -->
                @if (!noPosts) {

                  <app-posts class="profile-posts" [isGrid]="true" [userArticles]="true" [userId]="userId" [saved]="false" (noPosts)="handleNoPosts($event)"></app-posts>
                } @else {
                    <div class="empty-state">
                      <div class="empty-icon">
                      <i class="fas fa-times-circle"></i>
                      </div>
                      <div class="empty-title">No hi ha publicacions creades</div>
                      <div class="empty-description">
                      Comença a crear les teves pròpies publicacions per compartir amb els altres.
                      </div>
                      <button class="empty-action" [routerLink]="['/home']">Crear ara</button>
                    </div>
                }
            </div>
        </div>
    </div>
} @else {
    <div class="body-container">
    
        <!-- Main Content -->
        <div class="container">
            <div class="profile-section">
                <!-- Profile Header -->
                <div class="profile-header">
                    <!-- Mensaje diciendo que no se ha podido encontrar el usuario -->
                    <div>
                        <h2>Usuari no trobat</h2>
                        <p>Ho sentim, no hem pogut trobar l'usuari que estàs buscant.</p>
                    </div>
                </div>
                
                <!-- Posts Section -->
            
                
            </div>
        </div>
    </div>
}


    <div class="modal-overlay" *ngIf="mostrarConfirmacion">
        <div class="modal">
          <p>¿Seguro que quieres cancelar? Se perderán los cambios.</p>
          <button (click)="confirmarCancelar()">Sí, cancelar</button>
          <button (click)="mostrarConfirmacion = false">No</button>
        </div>
      </div>
      
