<div class="body-container">
    <div class="container">
        <!-- Header -->
        <div class="section-header">
            <div class="section-title">Posts Guardados</div>
            <!-- <div class="filter-buttons">
                <div class="filter-button active">Todos</div>
                <div class="filter-button">Imágenes</div>
                <div class="filter-button">Vídeos</div>
                <div class="filter-button">Artículos</div>
            </div> -->
        </div>
        <div class="main-content">
            <app-navbar></app-navbar>
    
            <!-- Saved Posts -->
            <div class="saved-posts">
                
                <!-- Post Card -->
                 @if (!noSavedPosts) {
                    
                    <app-posts [isGrid]="true" [saved]="true" (noPosts)="handleNoPosts($event)"></app-posts>
                 } @else {
                    <!-- Empty State -->
                    <div class="empty-state" >
                        <div class="empty-icon">
                            <i class="far fa-bookmark"></i>
                        </div>
                        <div class="empty-title">No hi ha posts guardats</div>
                        <div class="empty-description">
                            Comença a guardar els teus posts favorits per accedir-hi més tard.
                        </div>
                        <button class="empty-action" [routerLink]="['/explorer']">Explora ara</button>
                    </div>
                 }
            </div>
        </div>
    </div>
</div>
