<div class="body-container">
    <div class="container">
        <!-- Header -->
        <div class="section-header">
            <div class="section-title">Publicacions desades</div>
        </div>
        <div class="main-content">
            <app-navbar></app-navbar>
    
            <!-- Saved Posts -->
            <div class="saved-posts">
                
                <!-- Post Card -->
                 @if (!noSavedPosts) {
                    <app-posts [isGrid]="true" [saved]="true" (noPosts)="handleNoPosts($event)"></app-posts>
                 } @else {
                    <!-- Empty State -->
                    <div class="empty-state" >
                        <div class="empty-icon">
                            <i class="far fa-bookmark"></i>
                        </div>
                        <div class="empty-title">No tens cap publicació desada</div>
                        <div class="empty-description">
                            Comença a desar les teves publicacions preferides per accedir-hi més tard.
                        </div>
                        <button class="empty-action" [routerLink]="['/home']">Explora ara</button>
                    </div>
                 }
            </div>
        </div>
    </div>
</div>
