<div class="body-container">
    <div class="container">
        <div class="main-content">
            <!-- Sidebar -->
            <div class="sidebar">
                <h3 style="font-weight: 600; margin-bottom: 20px;">Chats</h3>
                <div class="chat-list">
                    @for (chat of chats; track $index) {
                        <div [class.active]="chat.chat_id === selectedChatId" class="chat-item" id="{{ chat.chat_id }}" (click)="selectChat(chat.chat_id)">
                            <div class="chat-avatar">
                                <img [src]="chat.other_users[0]?.profile_image" alt="Foto de perfil de {{ chat.other_users[0]?.username }}">
                            </div>
                            <div class="chat-info">
                                <div class="chat-name">{{ chat.other_users[0]?.username }}</div>
                                <div class="chat-preview">{{ chat.last_message }}</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- Chat Window -->
            <div class="chat-window">
                @if (selectedChatId) {
                    <div class="chat-header">
                        <div class="chat-header-avatar">
                            <img [src]="profileUser.profileImage.url" alt="María García">
                        </div>
                        <div class="chat-header-info">
                            <div class="chat-header-name">{{ profileUser.username }}</div>
                            <div class="chat-header-status">En línea</div>
                        </div>
                    </div>
                    <div id="messages" class="chat-body">
                        <div *ngFor="let message of messages" [ngClass]="{'message': true, 'sent': message.sender_id === userId, 'received': message.sender_id !== userId}">
                            {{ message.content }}
                            <div class="message-time">{{ message.created_at | date:'shortTime' }}</div>
                          </div>
                    </div>
                    <div class="chat-footer">
                        @if (!isMobileDevice()) {
                            <button class="emoji-button" (click)="toggleEmojiPicker()">
                                <i class="far fa-smile"></i>
                            </button>
                            @if (showEmojiPicker) {
                                <div #emojiPicker class="emoji-picker-container">
                                    <emoji-mart (emojiSelect)="addEmoji($event)"></emoji-mart>
                                </div>
                            }
                        }
                        <input [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" id="message" type="text" class="chat-input" placeholder="Escribe un mensaje...">
                        <button (click)="sendMessage()" id="send" class="send-button"><i class="fas fa-paper-plane"></i></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
