<div class="right-sidebar">
    <div class="sidebar-card">
        <div class="sidebar-header">
            Sugerencias para ti
        </div>
        <div class="suggestion-list">
            @for (suggestion of suggestions; track $index) {
                <div class="suggestion-item">
                    <div class="profile-pic">
                        <img [src]="suggestion.profileImage?.url" alt="Laura Gómez">
                    </div>
                    <div class="suggestion-info">
                        <div class="suggestion-name">{{ suggestion.username }}</div>
                        <!-- <div class="suggestion-bio">Diseñadora UX/UI</div> -->
                    </div>
                    <button 
                        [ngClass]="suggestion.isFollowing ? 'unfollow-button' : 'follow-button'" 
                        (click)="toggleFollow(suggestion.id)">
                        {{ suggestion.isFollowing ? 'Unfollow' : 'Follow' }}
                    </button>
                </div>
            }
        </div>
    </div>
</div>