<div class="body-container">
    <div class="container">
        <div class="main-content">
            <!-- Post View -->
            <div class="post-view">
                <div class="post-header">
                    <div class="post-author">
                        <div class="profile-pic">
                            <img [src]="post.user?.profileImage?.url" alt="Foto de perfil de {{ post.user?.username }}">
                        </div>
                        <div class="author-info">
                            <div class="author-name">{{ post.user.username }}</div>
                            <div class="post-time">{{ post.created_at | date:'shortTime' }} · <i class="fas fa-globe-americas"></i></div>
                        </div>
                    </div>
                    <div class="post-menu">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>
                <div class="post-content">
                    <div class="post-text">
                        {{ post.description }}
                    </div>
                    <div class="post-image">
                        <img [src]="post.image.url" alt="Proyecto fotográfico">
                    </div>
                </div>
                <!-- <div class="post-stats">
                    <div class="likes-comments">
                        <span class="stat-item"><i class="fas fa-thumbs-up"></i> 128</span>
                        <span class="stat-item">24 comentarios</span>
                    </div>
                    <div class="shares">
                        <span class="stat-item">8 compartidos</span>
                    </div>
                </div>
                <div class="post-actions">
                    <div class="action-button">
                        <i class="far fa-thumbs-up"></i>
                        <span>Me gusta</span>
                    </div>
                    <div class="action-button active">
                        <i class="far fa-comment"></i>
                        <span>Comentar</span>
                    </div>
                    <div class="action-button">
                        <i class="far fa-share-square"></i>
                        <span>Compartir</span>
                    </div>
                </div> -->
            </div>
            <!-- Comments Section -->
            <div class="comments-section">
                <div class="comments-header">
                    {{ post.comments_count }} Comentarios
                </div>
                <div class="comments-list" #commentsContainer>
                    @for (comment of post.comments; track post.comments.id) {
                        <div class="comment-item">
                            <div class="comment-avatar">
                                <img [src]="comment?.user?.profileImage.url" alt="Foto de perfil de {{ comment.user?.username }}">
                            </div>
                            <div class="comment-content">
                                <div class="comment-author">{{ comment?.user?.username }}</div>
                                <div class="comment-text">
                                    {{ comment.content}}
                                </div>
                                <div class="comment-time">{{ comment.created_at | date:'shortTime' }}</div>
                                <!-- <div class="comment-actions">
                                    <span><i class="far fa-thumbs-up"></i> Me gusta</span>
                                    <span>Responder</span>
                                </div> -->
                            </div>
                        </div>
                    }
                </div> 
                <div class="comment-footer" >
                    <button class="emoji-button" (click)="toggleEmojiPicker()">
                        <i class="far fa-smile"></i>
                    </button>
                    @if (showEmojiPicker) {
                        <emoji-mart (emojiSelect)="addEmoji($event)" [style]="{ position: 'absolute', bottom: '130px', right: '80px' }"></emoji-mart>
                    
                    }
                    <input autofocus="true" type="text" name="comment" class="comment-input" placeholder="Escribe un comentario..." [(ngModel)]="commentText" (keydown.enter)="createComment()"/>
                    <button (click)="createComment()" class="send-comment"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
